@page
@model BankingSystem.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fullname
            </th>
            <th>
               Date Of Birth
            </th>
            <th>
                Home Address
            </th>
            <th>
                Email Address
            </th>
            <th>
                Phone Number
            </th>
            <th>
               NextOfKin
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer_Details) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextOfKin)
            </td>
            <td>
                <a asp-page-handler="./Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
